@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


body{
    margin: 0 auto;
    padding:0;
    color:#222222;
      font-family: 'Lato', sans-serif;
    font-weight: 300;
      width: 1610px;

}

  .container {
      width: 1140px;
      margin:0 auto;
  }


  header{
      display:flex;
      height: 100px;
      align-items: center;
  }

  .logo {
      width: 165px;
      line-height: 51px;
      text-transform: uppercase;
      font-size: 27px;
      background-image: url("img/logo.png");
      background-blend-mode: overlay;
      background-repeat: no-repeat;
      padding-left:72px;

  }

  .logo span{
      color:#bc9499;
      font-weight: 700;

  }

  .search{
      height: 38px;
      display: flex;
      border-radius:3px;
      align-items: center;
      border: 1px solid #e6e6e6;
      overflow: hidden;
      font-size: 14px;
  }

  .search__browse{
      padding: 14px;
      background-color: #f9f9f9;
      line-height: 38px;
      border:none;
      color: #7c7c7c;
  }


header .search input{
    height: inherit;
    border: none;
    overflow: hidden;
    padding: 14px 16px;
    border-left:1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    outline: none;
}

header .search button:last-child{
    border:none;
    height:inherit;
    background: none;
    padding: 12px;
    outline: none;
}

header i{
    padding-left: 10px;
}

header a{
    margin-left: auto;
    margin-right: 26px;
}

.header__cart{
    margin-left:auto;
    margin-right:26px;
}

.header__account-bar{
    width: 138px;
    line-height: 38px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;

}

.headerLine{
    border-bottom: 1px solid #ececec;
}

.topNav{
    height: 51px;
    font-weight: 700;
    font-size:14px;
    justify-content: center;
    align-items: center;
    display: flex;

}

.topNav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #2c2c2c;
    line-height: 40px;

}

.topNav a:hover{
    border-bottom: 3px solid #ef5b70;
}

.topNav a:not(:last-child) {
    margin-right: 46px;
}

.banner_block{
    height: 470px;
    background-color: #e8e8e8;
    margin:auto;
    overflow: hidden;
    width: 1616px;
}

.brand{
    display: flex;
   width: 1140px;

}

.brand__text{
    margin-left:12px;
    padding-top:160px;
}

.theBrand{
    font-size: 60px;
    letter-spacing: 1.5px;
    margin:0;
    font-weight: 800;
}

.red__line{
    width: 12px;
    height: 100px;
    padding-top:160px;
}

.Luxerious{
    letter-spacing: 1px;
    font-size:40px;
    font-weight: 900;
    margin-top:-15px;
    margin-bottom:0;
}

.Luxerious span{
    color:#f16d7f;

}

.lad{
    overflow: hidden;
    margin: auto;
}

.item-links{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 1000px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    position:relative;

}

.offer__block{
    color: #222222;
    font-size: 18px;
    text-transform: uppercase;
    background: url("img/white.png");
    position: absolute;
    left: 5px;
    top: 115px;
    padding-left:16px;
    padding-bottom: 10px;
    padding-right: 16px;
}


.offer__block p{
    letter-spacing: 0.45px;
    font-weight:900;
    margin-bottom: auto;

}

.offer__block span{

    font-size: 30px;
    letter-spacing: 0.75px;
    font-weight: 900;
    color: #f16d7f;


}

.women__block{
    position: absolute;
    left:575px;
}

.acessories__block{
    top:660px;
}

.kids__block{
    left: 575px;
    top: 380px;
}

.product__block{
    margin-top: 60px;
    box-shadow: none;
}

.product__block:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    filter: brightness(0.5)
}


.product__blockMain h2{
    font-size: 30px;
font-weight: 700;
line-height: 54px;
    letter-spacing: 0.75px;
    text-align: center;
    margin:0;
}

.product__blockMain span{
    color: #9f9f9f;
    font-weight: 400;
    letter-spacing: 0.35px;
    display: flex;
    justify-content: center;
}

.product__images{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}



.product__images img:hover{

    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}





.product__blockMain h3{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;

}


.product__blockMain p{
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}


.browse_all{
    display: flex;
    justify-content: center;
    width: 212px;
    height: 48px;
    background-color:#f16d7f;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.4px;
    margin-left: 40%;
    margin-top: 80px;
    margin-bottom: 115px;
}


.browse_all i{
    display: flex;
    align-self: center;
    padding-left: 9px;
}

.banner{
    background-color: #222224;
    height: 529px;
    margin-bottom: 100px;
}

.banner__girl{
    width: 767px;
    height: 529px;
    float: left;
    background: url("img/layer_girl.png");
}


.percent{
    color: #f16d7f;
    letter-spacing: 1.5px;
}

.banner_text{
    width: 352px;
    height: 78px;
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top:146px;
    margin-left: 40px;

}

.women{
    font-size: 32px;
    letter-spacing: 0.9px;
}
.feature{
    height: inherit;
    width: 373px;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}

.feature a{
    width: 126px;
    height: 20px;
    color: #fbfbfb;

    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-underline: none;
}

.feature img{
    padding-right: 19px;
}

.feature p{
    width: 219px;
    height: 58px;
    color: #aaaaab;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
    padding-left: 63px;
}

.subscribe__block{
    background: url(img/layer_41.png)no-repeat center bottom #ccc;
    width: 1618px;
    height: 438px;
    background-blend-mode: overlay;
    display: flex;

}

.slider{
    width: 50%;
justify-content: center;
    display: flex;
    height: inherit;
    align-items: center;
    border-right:1px solid white;
    margin-left: 60px;
}

.slider img{
    width: 83px;
    height: 83px;
    padding-right: 30px;
    padding-bottom: 110px;

}

.slider__text{
    width: 386px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.slider__text {
    width: 386px;
    height: inherit;
    color: #222224;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.4px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 80px;
}


.subscribe__form{
    width: calc(50% - 1px);
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.subscribe__form p{
    color: #222224;
    font-weight: 400;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-size: 24px;
    margin: 0;
}

.subscribe__form span{
    letter-spacing: 0.35px;
    line-height: 24px;
    font-size: 14px;
}

.enter__email{
    display: flex;
    height: 46px;
    margin-top: 25px;

}

.enter__email input{
    opacity: 0.67;
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    background-color: #e1e1e1;
    border: none;
    outline: none;
    padding-left: 20px;
    width: 210px;
}


.sub__button{

    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.35px;
    width: 104px;
    height: 46px;
border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    border:none;
    background-color: #f16d7f;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.sub__button:active{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

footer{
    height: 438px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

footer p{

    width: 427px;
    color: #898989;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.35px;
}

.footer__text{

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    width: auto;
    padding-left: 80px;
}

.footer__text h3{

    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.45px;

}

.footer__text a{
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    /* Text style for "Shop , Abo" */
    letter-spacing: 0.4px;
    line-height: 42px;
    text-decoration: none;
    text-underline: none;
}

.footer__text a:hover{

    letter-spacing: 0.4px;
    color: red;
}

.extra__footer{
    width: 1630px;
    background: #e6e6e6;
    height: 80px;
    margin: 0 auto;
}


.copy{
    height: inherit;
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__buttons{
    display: flex;
}

.social__buttons a{
    text-decoration: none;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    color: #222224;
}

.social__buttons a:hover{
    outline: 1px solid darkslategray;
}



.social__buttons a:nth-child(2){
    color: #f7f7f8;
    background-color: #f16d7f;
}

.social__buttons a:nth-child(3){
    background-color: #ededed;
    color: #b2b2b2;
}


.newArrivalsBlock{
    width: auto;
    height: 148px;
    background-color: #f8f3f4;
    margin: 0 auto;
}

.newArrivals{
    height: inherit;
    display: flex;
    align-items: center;
}

.newArrivals h1{
    width: 184px;
    height: 18px;
    color: #f16d7f;
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    display: flex;
}



.newArrivals nav{
    margin-left: auto;

}

nav a{
    color: #f16d7f;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
}
nav a:hover{
    border-bottom: 2px solid red;
}

.active{
    font-weight: 700;
}



main ul{
    height: 125px;
    display: flex;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    /* Text style for "P, roduct" */
    letter-spacing: -0.2px;
    align-items: flex-end;
}

main{
    height: auto;
}


.ulMain{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    width: inherit;

}

.ulMain li:first-child{display: flex;
    margin-right: 300px;


}

.ulMain{
    display: flex;
    justify-content: space-between;

}

section{
    height: 162px;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    display: flex;
    align-items: center;
}

section h3{

    width: 162px;
    height: 11px;
    color: #222222;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;

}



.itemBlock{
    display: flex;
}

.itemPrice{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.itemPhoto{
    width: 100px;
    height: 115px;
    background-color: #d1d1d1;
    background-image: url("img/item1.png");
    filter: contrast(0.9);
}

.itemPhotoSecond{
    width: 100px;
    height: 115px;
    background-image: url("img/item2.png");
}

.itemPhotoThird{
    background-image: url("img/item3.png");
    filter: contrast(0.9);
    width: 100px;
    height: 115px;
    background-color: #d1d1d1;
}

.color {
    font-size: 13px;
    width: 64px;
    height: 31px;
    color: #828282;
    font-weight: 600;
    margin-top: 10%;
}

.color span{
    color: #c5c5c5;
    font-weight: 300;
}

.sectionUl{
    height: inherit;
    display: flex;
    width: 650px;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: space-between;
    list-style-type: none;
    margin-left: 210px;
    margin-right: 25px;
}

.sectionUl li{
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px
}

.bordered{
    width: 54px;
    height: 30px;
    border: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
}

.times{
    width: 15px;
    color: white;
    background-color: darkgray;
    border-radius: 10px;
}

.buttonsCartPage{
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: none;
}

.buttonsCartPage button{
    width: 235px;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
}

button:active{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.forms{
    display: flex;
    height: 400px;
    justify-content: space-between;

}

.forms h2{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.forms form{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 214px;
}

.forms form:first-child{
    height: 290px;
}

.subTotalForm{
    width: 360px;
    height: 214px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.forms form:last-child{
    background-color: #f5f3f3;
}


.forms input{
    width: 355px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    outline: none;
}

.quoteButton{
    width: 100px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
}

.couponButton{
    width: 118px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    outline: none;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase
}
.proceed{
    width: 273px;
    height: 50px;
    background-color: #f16d7f;
    justify-content: center;
}
.forms input[placeholder] {
    color: black;
    padding-left: 10px;
}

::-webkit-input-placeholder {color:#d9d9d9;
padding-left: 10px;
}

.proceedBlock{
    width: 360px;
    height: 245px;
    background-color: #f5f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}




.proceedBlock button{
    width: 273px;
    height: 50px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
    border:none;
    margin-bottom: 40px;
}

.proceedText{
    width: 165px;
    align-self: flex-end;
    padding-right: 40px;
    text-align: end;
    padding-top: 40px;

}

.proceedText p{
    height: 12px;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
}

.proceedText h2{
    width: 165px;
    height: 16px;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.proceedText span{
    color:#f16d7f;
}

.shape{
    width: 275px;
    height: 1px;
    background-color: #e2e2e2;
}